@define-color selected-text #54c59f;
@define-color text #a277ff;
@define-color base #15141b;
@define-color border #a277ff;
@define-color foreground #a277ff;
@define-color background #15141b;

child:selected .item-box {
    margin-left: 4px;
    transition: margin-left 0.05s ease-out;
}
