@import "../omarchy/current/theme/waybar.css";

window#waybar {
  background-color: rgba(21, 20, 27, 0.78);
  border-radius: 0 0 4px 4px;
  border: 1px solid rgba(132, 100, 198, 0.35);
  border-top: none;
}

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  color: @muted;
  opacity: 0.7;
}

#workspaces button.empty label {
  color: @muted;
}

#workspaces button.active {
  color: #54c59f;
}

#workspaces button.active label {
  color: #54c59f;
}

#workspaces button.urgent {
  color: @critical;
}

#workspaces button.urgent label {
  color: @critical;
}

#workspaces button {
  color: #8464c6;
}

#workspaces button label {
  color: #8464c6;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
  color: @warning;
}

#clock {
  margin-left: 5px;
  color: #c7a06f;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-omarchy {
  color: #c17ac8;
  font-size: 14px;
}

#bluetooth,
#network,
#pulseaudio,
#cpu,
#custom-update,
#custom-voxtype,
#custom-expand-icon {
  color: #6cb2c7;
  font-size: 13px;
}

#battery {
  color: #54c59f;
}

#battery.warning {
  color: #c7a06f;
}

#battery.critical {
  color: #c55858;
}
